.todo-item {
  background-color: cornflowerblue;
  color: aliceblue;
  overflow: hidden;
  padding: 10px;
  margin: 10px 0;
}

.todo-item .text {
  float: left;
  overflow: hidden;
  cursor: pointer;
}

.todo-item .remove {
  float: right;
  cursor: pointer;
}

.todo-item .active {
  text-decoration: line-through;
  color: #cecece;
}
